@page "/counter"
@using WhojooSite.View.Application.Recipes.Client
@rendermode InteractiveServer
@inject IRecipesClient RecipesClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>
<p>Recipe exists: @_hasRecipe</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int _currentCount;
    private bool _hasRecipe;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        var result = await RecipesClient.GetRecipeByIdAsync(1);

        _hasRecipe = result.Match(_ => true, _ => false);
    }

    private void IncrementCount()
    {
        _currentCount++;
    }

}